body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
    filter: brightness(90%);
}

a:hover{
    cursor: pointer;
    filter: brightness(90%);
}

header{
    margin: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A3130D;
}

header .pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

header .pages .logo{
    font-size: 1.5em;
    color: aliceblue;
    margin-left: 25px;
    cursor: pointer;
    text-decoration: none;
}

header .pages .buttons a{
    text-align: center;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    background-color: #BE2719;
    color: aliceblue;
    text-decoration: none;
}

header .pages .buttons{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    color: aliceblue;
    display: flex;

    gap: 15px;
}

.perfil a{
    text-align: center;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    background-color: #BE2719;
    color: aliceblue;
    text-decoration: none;
}
main{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



footer {

    height: 100px;
    background-color: black;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}